body{
    background-color:black;
    
}
.heading{
    text-align: center;
    font-size: 120px;
    font-style: italic;
    font-weight: 700;
    color:goldenrod
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    max-width: 90%; 
    margin: 0 auto;
   
}

.card{
    margin-left:200px; 
    text-align: center;
    margin-top: 100px;
    height: 500px;
    width:500px;
}
.card-img{
    height:400px;
}
div{
    display: inline-block;
}
.card-text{
    font-size: 25px;
    font-weight: 800;
}